.wrapper{
  width: auto;
  height: auto;
  position: absolute;
  text-align: center;
}

.card{
  text-align: center;
  position:relative;
  margin-left: 10px;
  border: 2px solid black;
}



h1{
  font-size: 14px;
}
.btn{
  margin: 2px;
  border: none;
  padding: 5px;
  border-radius: 10px;

}

.btn:hover{
  cursor: pointer;
}





