.wrapper{
  width: auto;
  height: auto;
  position: absolute;
  text-align: center;
  padding: 0;
  margin: 0;
}

.card{

  width: 100px;
  height: 150px;
  text-align: center;
  position:relative;
}



h1{
  font-size: 14px;
}


button{
  margin: 2px;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

button:hover{
  cursor: pointer;
}



.attackCard{
  border: 3px solid red;
  transition: 0.7s;
}
.defenceCard{
  border: 3px solid blue;
  transition: 0.7s;
}
