
<body>
<div class="wrapper">
  <div class="playersDiv">
    <div class="players">
      <p class="player">Первый игрок-(хп)</p>
      <p class="player">Второй игрок-</p>
      <p class="player">3 игрок-</p>
      <p class="player">4 игрок-</p>
    </div>
  </div>
  <div class="content">
    <div class="topDiv" style="display:flex; justify-content: space-evenly">
    <div *ngFor="let card of round.opponentCard"
         style="display: flex; ">
      <app-card-on-the-field [card]="card"
                          [attackCard]="!round.isPlayerAttack && round.opponentCard.indexOf(card)==round.attackCardIndex"
                          [defenceCard]="round.isPlayerAttack && round.opponentCard.indexOf(card)==round.defenceCardIndex"
      ></app-card-on-the-field>
    </div>
    </div>
    <div class="BottomDiv" style="display: flex; justify-content: space-evenly">
    <div *ngFor="let card of round.playerCard"
         style="display: flex; ">
      <app-card-on-the-field [card]="card"
                             [attackCard]="round.isPlayerAttack && round.playerCard.indexOf(card)==round.attackCardIndex"
                             [defenceCard]="!round.isPlayerAttack && round.playerCard.indexOf(card)==round.defenceCardIndex"
      ></app-card-on-the-field>
    </div>
    </div>

    <div class="stataPlayer">
      <p>здоровье:</p>
      <p>уровень:</p>
    </div>

  </div>
</div>

