<body>
<div class="wrapper">
  <div class="playersDiv">
    <div class="players">
      <p class="player">Первый игрок-(хп) - </p>
    </div>
  </div>
  <div class="content">
    <div class="shop">
      <div class="buttonsShop">
        <div class="btnImprove">
          <button class="btnShop" (click)="upgradeShop()">Улучшить ({{player.shop.upgradePrice}})</button>
        </div>
        <div class="rightBtnShop">
          <button class="btnShop" (click)="changeFreezeStatus()">{{player.shop.freezeStatus?'Разморозить':'Заморозить'}}</button>
          <button class="btnShop" (click)="updateShop()">Обновить(1)</button>
        </div>

        </div>
      <div  style="width: 100%; height: 250px; display: flex; justify-content: space-evenly; margin-bottom: 20px">
        <div *ngFor="let card of player.shop.cardList" style="display: flex; ">
          <app-card-shop (isBuyCard)="buyCard($event)"  [card]="card"></app-card-shop>
        </div>
      </div>
    </div>
    <hr>
<div class="cardInv" style="width: 100%; height: 220px; display: flex; justify-content: space-evenly; margin-top: 10px">
    <div *ngFor="let card of player.activeCards" style="display: flex; justify-content: space-evenly; ">
      <app-card-in-battle (onSellActiveCard)="sellActiveCard($event)" (onMoveLeftCard)="moveCardLeft($event)" (onMoveRightCard)="moveCardRight($event)" [card]="card"> </app-card-in-battle>
    </div>
</div>
    <div class="cardInv" style="width: 100%; height: 220px; display: flex; justify-content: space-evenly; margin-top: 10px">
      <div *ngFor="let card of player.invCards" style="display: flex; justify-content: space-evenly; ">
        <app-card-inventory [cardI]="card"  (onSellInvCard)="sellInvCard($event)" (onPutInvCard)="putInvCard($event)"></app-card-inventory>
      </div>
    </div>
    <hr>
    <div class="stataPlayer" style="margin-top: 10px">
      <p>здоровье:{{player.hp}}</p>
      <p>уровень:{{player.shop.level}}</p>
      <p>деньги:{{player.gold}}</p>
      <p>золото: {{player.maxGold}}</p>
    </div>
  </div>
</div>

</body>
