body{
  max-height: 100%;

}
.text-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 240px;

}
.logo-card{
  //background-image: url("src/assets/");
  display: block;
  width: 220px;
  position:absolute;
  right:0;
  bottom:0;
}

.img-person{

}





