<body>
<app-img-heartstone *ngIf="activeForm!=='betweenFight' && activeForm!=='inBattle'"></app-img-heartstone>
<app-form-lobby *ngIf="activeForm=='lobby'" (isClickBtn) ="onChanged($event)" (onFormChanged) ="formChanged($event)"></app-form-lobby>
<app-form-info *ngIf="activeForm=='info'" [players]="players"  [info]="info" (onFormChanged) ="formChanged($event)" (onLeave)="leave()"></app-form-info>
<app-img-person *ngIf="activeForm!=='betweenFight' && activeForm!=='inBattle'"></app-img-person>
<app-between-fight *ngIf="activeForm=='betweenFight'" [player]="player" [players]="players"  [stompClient]="stompClient" (onUpdateShop)="updateShop()"></app-between-fight>
<!--<img class="logo-card" src="assets/card-main.png" alt="">-->
<app-img-card *ngIf="activeForm!=='betweenFight' && activeForm!=='inBattle'"></app-img-card>
<app-in-battle *ngIf="activeForm=='inBattle'" [round]="round"></app-in-battle>
<app-form-finished *ngIf="activeForm=='formFinished'" [isWin]="isWin" (isClickLobbi)="inLobbi()"></app-form-finished>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="main.js"></script>
