.wrapper{
  width: auto;
  height: auto;
  position: absolute;
  text-align: center;
}

.card{
  background: rgb(124,133,88);
  background: radial-gradient(circle, rgba(124,133,88,1) 1%, rgba(68,74,48,1) 53%, rgba(45,50,43,1) 100%);

  text-align: center;
  position:relative;
  border: 2px solid black;
 // background-image: url("/src/assets/c.png");
  background-size: contain;
}

.characteristics{
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  color: black;
  font-weight: bold;

}

img{
  width: 100px;
  height: 150px;
}

h1{
  font-size: 14px;
}

.buy{
    margin: 2px;
    border: none;
    padding: 5px;
    border-radius: 10px;

}

.buy:hover{
  cursor: pointer;
}




